body {
  background: #f4f3f1;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
.loading{
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: calc(28vw * 0.75);
  max-height: 15vh;
  position: relative;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  margin: 5px;
}
.search-field {
  display: flex;
  /*  position: absolute;*/
  right: 0;
}
.search-field input,
select {
  margin-left: 2em;
  margin-right: 2em;
}
.hint-dropdown {
  color: gray;
  font-size: 0.8em;
  display: "";
}

/*Re-name mainContainer*/
.mainContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: left;
}
.mainContainer p {
  padding: 0;
  margin: 0;
  text-align: left;
}
.heading {
  display: flex;
}
.heading h1 {
  margin-left: 5vw;
  font-size: 20px;
}
.locationList {
  display: flex;
  justify-content: row;
  flex-wrap: wrap;
}

.locationTile {
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: calc(28vw * 0.75);
  max-height: 15vh;
  position: relative;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  margin: 5px;
}
.cityStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 55%;
  height: 45%;
  color: rgb(255, 255, 255);
  background-color: #fd4646; /*Failing Condition*/
  /*background-color: #73ffd2; Good Condition**/
  border-radius: 0.3em;
}
/*Calendar Graph Can*/
.js-rollingcalendar {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 32px 1px 32px 32px;
  display: none;
  /*display: inline-block*/
}

.service__features {
  display: block;
}

.js-rollingcalendar h1 {
  font-family: "proxima-nova", "proxima nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #5d5d5d;

  font-size: 20px;
  line-height: 24px;
  padding-bottom: 12px;
}

.js-rollingcalendar h2 {
  font-family: "proxima-nova", "proxima nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #abadac;
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 12px;
}
.rolling-calendar {
  position: relative;
}
/*Phone*/
@media only screen and (min-width: 320px) {
  .search-field {
    flex-wrap: wrap;
  }
  .locationList {
    width: 100vw;
  }
  .locationTile {
    
    height: 15vh;
    font-size: 0.75em;
  }
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  .locationList {
    width: 80vw;
  }
  .locationTile {
    
    font-size: 1em;
  }
}
/*Desktop*/
@media only screen and (min-width: 1200px) {
  .locationList {
    width: 60vw;
  }
  .locationTile {
    font-style: 1.2em;
  }
}
/* 
@media only screen and (min-width: 1600px) {
}
*/
